<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <!-- Our own CSS customizations -->
    <link rel="stylesheet" href="/static/css/custom.css" />
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    {% if title %}
    <title> {{ title }} - PANOS POLICY TESTER</title>
    {% else %}
    <title> Welcome to the PANOS POLICY TESTER WEB APP!</title>
    {% endif %}
</head>
<body>
    <div class="container">
        <h3 class="text-center">PANOS POLICY TESTER</h3>
        <nav class="navbar navbar-light nav-fill w-100">
            <a role="button" class="btn btn-dark" href="{{ url_for('index') }}">Home</a>
            <a role="button" class="btn btn-dark" href="{{ url_for('device_setup') }}">Configure Device</a>
            <a role="button" class="btn btn-dark" href="{{ url_for('select_fw') }}">Select Firewall</a>
            <a role="button" class="btn btn-dark" href="{{ url_for('test_sec_params') }}">Test Security Policy</a>
            <a role="button" class="btn btn-dark" href="{{ url_for('test_nat_params') }}">Test Nat Policy</a>
            <a role="button" class="btn btn-dark" href="{{ url_for('select_cmd') }}">Run CLI Commands (via API)</a>        
        </nav>
    <hr>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flashes alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </div>
</body>
<footer class="text-center footer">
    This project is licensed under the <a href="https://opensource.org/licenses/MIT">MIT LICENSE</a>.
    For more info please visit the <a href=https://gitlab.com/bilalbox/panos_tester>Gitlab Project Page</a> 
</footer>
</html>