{% extends "base.html" %}
{% block content %}
    <h3> DEVICE SETUP </h3>
    <form action="{{ url_for('save_device') }}" method="POST">
        <div class="form-group">
            <label for="host">Hostname or IP (Firewall/Panorama)</label>
            <input type="text" class="form-control" id="host" name="host" placeholder="e.g. 192.168.1.1">
        </div>
        <div class="form-group">
            <label for="user">Username</label>
            <input type="text" class="form-control" id="user" name="user" placeholder="e.g. 'admin'">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="pass" name="pass" placeholder="e.g. 'admin'">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="panorama">
            <label class="form-check-label" for="panorama">Is this a Panorama Device?</label>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

{% endblock %}