{% extends "base.html" %}

{% block content %}
    <h3 >MAIN PAGE</h3>
    <div >
        <p>
        <h4>Welcome to the PANOS Policy Tester!</h4>
        <h5>STEP 1:</h5> Input your device details via the <a href="{{ url_for('device_setup') }}">CONFIGURE DEVICE</a> page
        <h5>STEP 2:</h5> If the device is a panorama, use the <a href="{{ url_for('select_fw') }}">SELECT FIREWALL</a> 
            page to select the connected firewall to test.
        <h5>STEP 3:</h5> Input session test parameters on the <a href="{{ url_for('test_nat_params') }}">NAT</a> or <a href="{{ url_for('test_sec_params') }}">SECURITY</a> policy test page.
        <h5>STEP 4:</h5> Review resulting output.
        </p>
    </div>
{% endblock %}