{% extends "base.html" %}

{% block content %}
    <h4 class="text-center">COMMAND OUTPUT</h4>
    <div id="command-output"></div>
    <script type="text/javascript">
        var obj = JSON.parse({{results | tojson | safe }});
    </script>
    <script type="text/javascript" src="/static/js/jsonbeautify.js"></script>
{% endblock %}
