{% extends "base.html" %}

{% block content %}
    <div id="scoped-content">

    <h3 align='center'>RULE(S) MATCHING SPECIFIED FLOW</h3>
    <div>
        <table width="100%">
        <tbody>
        {% if not results %}
            <tr><td align='center'><h4>NO MATCH</h4></td></tr>
        {% else %}
        {% for r in results %}
            <tr>
                <td align='center'><h4>NAME</h4> {{ r['@name'] }}</td>
                <td align='center'><h4>FROM</h4>{{ r['from'] }}</td>
                <td align='center'><h4>SOURCE</h4>{{ r['source'] }}</td>
                <td align='center'><h4>TO</h4>{{ r['to'] }}</td>
                <td align='center'><h4>DESTINATION</h4>{{ r['destination'] }}</td>
                <td align='center'><h4>APPLICATION</h4>{{ r['application_service'] }}</td>
                <td align='center'><h4>ACTION</h4>{{ r['action'] }}</td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
