{% extends "base.html" %}
{% block content %}
    <form action="{{ url_for('save_fw') }}" method="POST">
        <div class="form-group">
            <label for="fw">Destination Zone</label>
            <select class="form-control" name="fw">
                {% for dev in devices %}
                <option value="{{ dev['serial'] }}">{{ dev['hostname'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
{% endblock %}