{% extends "base.html" %}
{% block content %}
    <h3> SESSION PARAMETERS</h3>
    <form action="{{ url_for('run_test_nat') }}" method="POST">
        <div class="form-group">
            <label for="src-zone">Source Zone</label>
            <select class="form-control" name="from">
                {% for zone in zones %}
                <option value="{{ zone }}">{{ zone }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="dst-zone">Destination Zone</label>
            <select class="form-control" name="to">
                {% for zone in zones %}
                <option value="{{ zone }}">{{ zone }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="src-ip">Source IP</label>
            <input type="text" class="form-control" name="src" placeholder="e.g. 10.1.1.1" required>
        </div>
        <div class="form-group">
            <label for="dst-ip">Destination IP</label>
            <input type="text" class="form-control" name="dst" placeholder="e.g. 192.168.1.1" required>
        </div>
        <div class="form-group">
            <label for="protocol">Protocol</label>
            <select class="form-control" name="protocol">
                <option value='6'>TCP</option>
                <option value='17'>UDP</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dport">Destination Port</label>
            <input type="text" class="form-control" name="dport" placeholder="1-65535" required>
        </div>
        <br><input type="submit" value="SUBMIT"/>
    </form>
{% endblock %}